@import "tailwindcss";

/* Cacher la scrollbar sur tous les navigateurs */
body, * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  body::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

.dp-highlight {
  background: #5FAD56 !important;
  color: #fff !important;
  border-radius: 9999px !important;
}